@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Develuz';
  src: url('/fontes/Develuz.ttf') format('TrueType');
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #1B1B1E; /* Fundo */
  --cor1: #373F51;
  --cor2: #58A4B0; /* Base */
  --cor3: #A9BCD0;
  --cor4: #D8DBE2;
  --cor5: aliceblue;

  --corw: #fff; 
  --corb: #000;

  --font-padrao: Arial, Verdana, sans-serif;
  --font-title: 'Rowdies', cursive;
  --font-destaque: 'Develuz'
}

body {
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

a.externo::after {
  content: '\00A0\1f517';
  color: black;
}

a.externo:visited {
  color: var(--cor0);
}

a.externo {
  color: #1B1B1E;
}

header {
  min-height: 105px;
  min-width: 105px;
  text-align: center;
  background-color: var(--cor2);
}

header > h1 {
  padding: 5px;
}
header > p {
  padding-top: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header > h2 { /*Poupup*/
  font-size: 1em;
  text-align: end;
  padding-right: 10px;
  padding-top: 10px;
  font-family: 'Develuz';
  color: var(--cor0);
}

header > h2:hover {
  color: darkred;
  text-decoration: underline;
  transition-duration: 0.4s;
}

nav {
  background-color: var(--cor2);
  text-align: center;
  padding: 10px;
  box-shadow: 0px 7px 7px  rgba(0, 0, 0, 0.192);
}

nav > a {
  color: var(--cor4);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.4s;
}

nav a:hover {
  background-color: var(--cor1);
}